/* 전체 초기화 */
* {margin: 0; padding: 0;}

/* Main Container */
.profile_main_container{margin: 0 100px; display: flex; flex-direction: column;}

/* Toggle button */
.profile_toggle_container{position: fixed; top: 84px; left: 0px; width: 100%; background-color: rgb(243, 243, 243); z-index: 1;}
.change_role_toggle{margin: 0 auto 0 auto ; padding: 1.5rem 2rem; display:flex ;justify-content: space-between; position: relative; width: 80%; align-items: center;}
/* 기존의 checkbox 버튼 숨기기 */
.toggle_input {display: none;}
/* 토글 스타일 지정*/
.toggle_label {position: relative;display: block;width: 40px;height: 24px;background-color: #4ED7F1;border-radius: 12px;cursor: pointer;transition: background-color 0.3s ease;}
/* 토글 버튼 스타일 지정 */
.toggle_label::before {content: "";position: absolute;top: 2px;left: 2px;width: 20px;height: 20px;background-color: white;border-radius: 50%;transition: transform 0.3s ease;}
/* 토글 ON인 경우에 버튼 위치 지정 */
.toggle_input:checked + .toggle_label::before {transform: translateX(16px);}
.toggle_text{z-index: 1; font-size: 20px;} 

/* Toggle dark theme */
body.dark .toggle_input + .toggle_label{background-color: #FFFA8D;}
body.dark .toggle_label::before{background-color: black;}
body.dark .profile_toggle_container{background-color: rgb(46, 46, 46);}



/* information box */
.profile_inform{display: flex; width: 60%; justify-content:space-around; margin: 100px auto 100px auto}

/* profile image */
.profile_image { width: 150px; height: 150px; border-radius: 50%; border: 3px solid #ccc; object-fit: fill;}

/* information text */
.profile_inform .profile_inform_text{text-align: start;}
.profile_inform_text p{padding: 10px; color: rgb(61, 61, 61); white-space: pre-wrap; text-indent: 10px;}
.profile_inform_text .profile_inform_nickname{font-size: 18px; color: rgb(27, 27, 27); font-weight: 500; text-indent: 0;}

/* information text theme-dark */
body.dark .profile_inform_text p{padding: 10px; color: rgb(228, 228, 228); white-space: pre-wrap; text-indent: 10px;}
body.dark .profile_inform_text .profile_inform_nickname{font-size: 18px; color: rgb(255, 255, 255); font-weight: 500; text-indent: 0;}

/* profile menu */
.profile_account_setting{width: 70%; text-align: start; margin: 0 auto 40px auto;}
.profile_account_setting h2{font-size: 20px; font-weight: 500; padding-bottom: 15px;}
.profile_account_setting ul li{padding: 10px; text-indent: 10px; cursor: pointer;}

/* partner Information */
.profile_partner_inform{display: flex; flex-direction: column; width: 70%; margin: 0 auto 60px auto; text-align: left; gap: 14px;}
.profile_partner_inform h2{font-size: 20px; font-weight: 500;}
.profile_partner_inform input{width: 300px; font-size: 15px;}


.profile_blank{height: 100px; width: 100%;}

/* 소셜 로그아웃 버튼 */
.another_social{cursor: pointer; color: gray; font-size: 15px; border-bottom: 1px solid; display: inline-block; margin-left: 1rem;}

/* 반응형 웹 */
@media screen and (max-width : 725px) {
    .profile_inform{display: flex; flex-direction: column; justify-content: center;}
    .profile_inform .profile_inform_text{text-align: center;}
    .profile_partner_inform{display: flex; flex-direction: column; align-items: center; text-align: center;}
}

/* 반응형 웹 */
@media screen and (max-width : 477px) {
    .profile_main_container{margin: 0px;}
    .profile_inform{display: flex; flex-direction: column; justify-content: center; width: 100%;}
    .profile_inform .profile_inform_text{text-align: center;}
    .profile_partner_inform{display: flex; flex-direction: column; align-items: center; text-align: center;}
    .profile_account_setting {width: 80%;}
    .profile_account_setting h2{font-size: 15px;}
    .toggle_text{font-size: 15px;}
    .change_role_toggle{width: 100%;}
    .profile_account_setting ul li {font-size: 13px;}
}