<th:block th:replace="~{/layout/basic :: setContent(~{/layout/topbar :: title(title=${title})}, ~{this::content})}">
  <th:block th:fragment="content">

    <h1>유저 목록</h1>
    <button onclick="startChat( 'koi4553@naver.com', 'user1@example.com')">runner01 님과 채팅하기</button>
    <button onclick="startChat( 'koi4553@naver.com', 'user2@example.com')">soccerking 님과 채팅하기</button>
    <button onclick="startChat( 'koi4553@naver.com', 'user3@example.com')">tennispro 님과 채팅하기</button>

    <h1>채팅방 목록</h1>
    <table>
        <tr th:each="room : ${roomList}" >
            <td>
                <a th:href="@{chatRoom(roomId=${room.roomId} )}"
                  th:text="${room.name}"></a>
            </td>
        </tr>
    </table>


    <script>
      const startChat = (me, otherUser) => {
          axios.post('/smash/chat/createRoom', {
          username: me,
          targetUsername: otherUser
          }).then(res => {
              // 방 생성 후, 입장 처리
          });
      }
    </script>
  </th:block>
</th:block>

