<th:block th:replace="~{/layout/basic :: setContent(~{/layout/topbar :: title(title=${title})}, ~{this::content})}">
  <th:block th:fragment="content">

      <div class="chat_container">
        <h2 th:if="${#lists.isEmpty(roomList)}">채팅방이 없습니다.</h2>
        
        <div class="chat_list" th:if="${!#lists.isEmpty(roomList)}">
          <table class="table">
            <tr th:each="room : ${roomList}" th:if="${room.roomId != null}">
              <td>
                <div th:class="|${room.roomId} chat_room|"
                  th:text="${currentUser.role == 0 ? room.partnerNickname + '님과의 채팅방' :
                            (currentUser.role == 1 ? room.memberNickname + '님과의 채팅방' :
                            room.memberNickname + '-' + room.partnerNickname + ' 채팅방')}">
                </div>
                <a th:href="@{chatRoom(roomId=${room.roomId})}" class="btn"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
              </td>
            </tr>
          </table>
        </div>

    </div>

    <script>
    </script>
  </th:block>
</th:block>