<th:block th:replace="~{/layout/basic :: setContent(~{/layout/topbar :: title(title=${title})}, ~{this::content})}">
  <th:block th:fragment="content">

      <div class="chat_container">
        <h2 th:if="${#lists.isEmpty(roomList)}">채팅방이 없습니다.</h2>
        
        <table class="table" th:if="${!#lists.isEmpty(roomList)}">
          <tr th:each="room : ${roomList}" th:if="${room.roomId != null}">
            <td>
              <a th:href="@{chatRoom(roomId=${room.roomId})}"
                 th:class="|${room.roomId} chat_room|"
                 th:text="${currentUser == room.memberUser ? room. : room.myNickname}">님과의 채팅방 입장</a>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <script>
    </script>
  </th:block>
</th:block>