<th:block th:replace="~{/layout/basic :: setContent(~{/layout/topbar :: title(title=${title},sender=${sender},room=${room})}, ~{this::content})}">
  <th:block th:fragment="content">

      <div class="chat_container">
        <h2 th:if="${#lists.isEmpty(roomList)}">채팅방이 없습니다.</h2>
        
        <div class="chat_list" th:if="${!#lists.isEmpty(roomList)}">
          <div th:each="room : ${roomList}" th:if="${room.roomId != null}" class="room_list">
            <div class="new_msg_point" 
            th:if="${room != null and 
              !room.lastMessage.isRead and
              room.lastMessage.sender != currentUser.emailId
            }"></div>
            <div class="room_body">
              <div class="room_name">
                <div th:class="|${room.roomId} chat_room|"
                  th:text="${currentUser.role == 0 ? room.partnerStoreName :
                            (currentUser.role == 1 ? room.memberNickname :
                            room.memberNickname + '-' + room.partnerStoreName)}">
                </div>
                <span> 채팅방</span>
              </div>
              <div class="last_msg" th:text="${room.lastMessage.message}"></div>
              <div class="last_time">[[${T(java.time.format.DateTimeFormatter).ofPattern('yyyy년 MM월 dd일 HH:mm').format(room.lastMessage.time)}]]</div>
            </div>
            <div class="room_enter_box">
              <a th:href="@{chatRoom(roomId=${room.roomId})}" class="btn"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            </div>
          </div>
        </div>

    </div>

    <script>
    </script>
  </th:block>
</th:block>