<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <div class="estimate_container">
      <h1>
        <a href="#">〈 </a>
        견적서 목록 <span>(?개)</span>
      </h1>
      <hr>
      <div class="estimate_list">
        <div class="estimate_box" th:each="estimate : ${result}">
          <div class="estimate_card">
            <div class="estimate_header">
              <div class="estimate_meta">
                <span class="standby" th:if="${estimate.isSelected == 0}">낙찰 대기</span>
                <span class="unselected" th:if="${estimate.isSelected == 1}">미 낙찰</span>
                <span class="selected" th:if="${estimate.isSelected == 2}">낙찰 완료</span>
                <b class="estimate_title">[[${estimate.title}]]</b>
              </div>
              <div>
                <a th:href="@{/smash/estimate/update(idx=${estimate.idx})}">수정</a>
                <a th:href="@{/smash/estimate/delete(idx=${estimate.idx})}">삭제</a>
              </div>
            </div>
            <p class="estimate_content">[[${estimate.content}]]</p>
            <table>
              <tr>
                <th>제시 가격</th>
                <td>[[${estimate.price}]]원</td>
              </tr>
              <tr>
                <th>반납 기한</th>
                <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm').format(estimate.returnDate)}"></td>
              </tr>
              <tr>
                <th>대여 방법</th>
                <td>
                  <span class="delivery" th:if="${estimate.isDelivery}">배달 가능</span>
                  <span class="delivery" th:if="${!estimate.isDelivery}">배달 불가</span>
                  /
                  <span class="pickup" th:if="${estimate.isPickup}">픽업 가능</span>
                  <span class="pickup" th:if="${!estimate.isPickup}">픽업 불가</span>
                </td>
              </tr>
            </table>
            <table>
              <caption>업체 정보</caption>
              <tr>
                <th>이름</th>
                <td th:text="${estimate.partnerName}"></td>
              </tr>
              <tr>
                <th>연락처</th>
                <td th:text="${estimate.partnerTel}"></td>
              </tr>
              <tr>
                <th>주소</th>
                <td th:text="${estimate.partnerRegion}"></td>
              </tr>
            </table>
            <p class="estimate_date">
              <span th:if="${estimate.isReturn}">반납 완료</span>
              <span th:if="${!estimate.isReturn}">반납 대기중</span>
              <br>
              [[${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm').format(estimate.createdAt)}]]
            </p>
          </div>
          <form th:action="@{/smash/estimate/status}" method="post">
            <input type="hidden" name="idx" th:value="${estimate.idx}" />
            <input type="hidden" name="isReturn" th:value="${!estimate.isReturn}" />
            <input type="hidden" name="isSelected" th:value="${estimate.isSelected}" />
            <button type="submit">반납 상태 토글</button>
          </form>
        </div>
      </div>
  
      <a th:href="@{/smash/estimate/register}">등록</a>
    </div>
  </th:block>
</th:block>