.chatRoom_container {width: 100%;display: flex;flex-direction: column;justify-content: center; align-items: center;padding-bottom: 2rem;}
.chatRoom_container .chat_start {width: 100%; text-align: center;}
.chatRoom_container .chat_start span{padding: 8px 20px;border-radius: 30px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);background-color: #fff3e0;color: #ff9800;font-weight: bold;}
body.dark .chatRoom_container .chat_start span{background-color: #686868;color: #cdcdcd;}
.chatRoom_container .info_box{display: flex;flex-direction: column;justify-content: center;align-items: right;}

.chatRoom_container .idRead{font-size: 14px;}
.chatRoom_container .date_label{margin: 3rem auto;color: gray;}
body.dark .chatRoom_container .date_label{color: #a5a5a5;}

.chatRoom_container .messageArea {width: 100%; max-width: 768px;display: flex;flex-direction: column;}
.chatRoom_container .messageArea .msg_box {display: flex; align-items: self-end;width: auto;white-space: nowrap;margin-bottom: 16px;}
.chatRoom_container .messageArea .msg_box.me {margin-left: auto;}
.chatRoom_container .messageArea .msg_box.you {margin-right: auto;}
.chatRoom_container .messageArea .msg_box .created_at{font-size: 15px;margin-bottom: 4px;}
body.dark .chatRoom_container .messageArea .msg_box .created_at{color:#9d9a88;}
.chatRoom_container .inputArea {width: 100%; max-width: 768px; display: flex;justify-content: space-around;align-items: center;position: fixed; bottom: 90px;}
.chatRoom_container .inputArea input {width: calc(100% - 80px);}
.chatRoom_container .inputArea button {margin-bottom: 3px;}

.chatRoom_container .msg {
  width: auto;
  max-width: 280px; 
  display: inline-block; 
  padding: 8px 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 0.5rem;
  white-space: normal;
  text-align: start;
}
.chatRoom_container .msg.me {background-color: #ccf7ff;color: #0c7a91}
body.dark .chatRoom_container .msg.me {background-color: #784a67;color: #ffe581;}
.chatRoom_container .msg.you {background-color: #f0f0f0; color: #161616;}