/* 등록 페이지 **************************/
.request_container .request_title{
  letter-spacing: 4px;
}

/* detail 페이지***********************/
body.dark .request_wrapper {background-color: #1b1b1b00;}
/* body.dark .request_header {background-color: #141414;} */
/* body.dark .request_wrapper .small_box {background-color: #212121;} */
.request_wrapper {
  max-width: 100%;
  margin: 0 auto 5rem auto;
  /* border: 1px solid #e7e7e7; */
  border-radius: 10px 10px 4px 4px;  
}
.request_wrapper .name_created_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request_wrapper .name_created_box .writer_info {padding-left: 1rem;}
.request_wrapper .name_created_box .writer_info * {font-weight: bold;}
.request_wrapper .name_created_box .writer_info *:not(.icon_box) {font-size: 20px;}
.request_wrapper .name_created_box .writer_info .icon_box {padding: 4px 8px;border-radius: 30px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);background-color: #fff3e0;color: #ff9800;cursor: pointer;}

.request_wrapper pre{color: black; padding: 1rem;}
body.dark .request_wrapper pre{color: white;}

.request_header {
  display: flex;
  justify-content: space-between;
  align-items: start; 
  border-radius: 10px 10px 0 0;
  font-weight: bold; 
  padding: 2rem;
  /* background-color: #fafafa; */
}

.request_wrapper .request_title{
  padding-left: 25px;
  width: calc(100% - 94px);
  margin: 0;
  text-align: start;
  font-weight: bold;
}

.status_tag {
  background-color: #e8f5e9;
  color: #43a047;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(68, 162, 72, 0.3);
}

.request_content_box {
  padding: 1rem;  
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.request_wrapper .description pre {
  font-size: 18px !important;
  font-family: inherit;
}

.request_wrapper .created_at {
  text-align: right;
  font-size: 14px;
  color: #929292;
  margin-top: 1rem;
  margin-right: 1rem;
}

.request_button_group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 0.5rem;
  margin-right: 0.7rem;
}

.request_button_group div {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

body.dark .request_button_group .btn {
  background-color: #524b4b;
  color: #f8f8f8;
  /* border: 1px solid #575757; */
}
body.dark .request_button_group .btn:hover {background-color: #525252;}
.request_button_group .btn {
  padding: 0.7rem 1.2rem !important;
  background: #eeeeee;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  height: 48px;
}
.request_button_group .btn:hover{
   background-color: #dedede;
   opacity: 0.85;
   transition: all 0.3s ease;
}

 .request_button_group .btn.delete {
   background-color: #fdd !important;
   color: #a60000 !important;
   height: 46px;
  }
  .request_button_group .btn.delete:hover {
    background-color: #ffa9a9 !important;
  }

.request_wrapper .small_box{
  /* background-color: white; */
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 2px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
}
.request_wrapper .attached_image_area{
margin: 40px;
}
.request_wrapper .xsmall_box{
  text-align: left;
}

.request_wrapper .xsmall_box *{font-size: 18px;}

.request_wrapper .hashtags{
  color: rgb(5, 141, 118);
  margin: 10px 0px 20px 0px; 
}

.request_wrapper .info{
  margin-top: 30px;
  color: #7c7b7b;
}

/* Detail 페이지, 이미지 lightbox  */
body.dark .request_wrapper .badge {background-color: #454444 !important;color: #dbdbdb;}
.request_wrapper .badge {
  /* background-color: #e9e9e9 !important; */
  background-color: #f5f4f4 !important;
  color: #595959;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 2px #0000001a;
  font-size: 16px;
  margin: 8px 1rem 8px 0;
  min-width: 80px;
  display: inline-block;
}
.badge_area {display: flex; align-items: center; gap: 0.5rem; justify-content: start;}

.zoomable_image {
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 12px;
}

.zoomable_image:hover {
  transform: scale(1.02);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px #fff;
}

.request_container .find_addr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  /* gap: 0.5rem; */
}
.request_container .find_addr input{width: calc(100% - 120px);}
body.dark .request_container .find_addr button{background-color: #3a3a3a;color: #c3c3c3; border: 1px solid #191919;padding: 18px !important;}
body.dark .request_container .find_addr button:hover{background-color: rgb(49, 49, 49);}
.request_container .find_addr button{
  background-color: #e9e9e9;
  color: #6a6a6a;
  height: 34px;
  border: 1px solid #d9d9d9;
  border-radius: 10px !important;
}
.request_container .find_addr button:hover{
  background-color: #d9d9d9;
  border: 1px solid #bdbdbd;
  color: #333;
}

/* 의뢰서 수정 페이지 */
.request_update_title::before{
  content:"🖋";
  margin-right: 0.5rem;
}

/* 반응형 */
@media (max-width: 480px){
  .request_header {padding: 1rem;}
  .request_wrapper .request_title{padding: 0;}
  .badge_area {flex-direction: column; align-items: start; gap: 0.2rem;margin-bottom: 1rem;}
  .badge_area span:not(.badge){padding-left: 1rem;}
  .request_wrapper .badge {font-size: 14px;}
  .request_button_group .btn {padding: 0 10px !important;align-items: center;display: flex;}
}
