/* 등록 페이지 **************/
.request_container .request_title{
  letter-spacing: 4px;
}

/* detail 페이지***********************/
.request_wrapper {
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 20px;  
  background-color: #f6f8f8;
}

.request_header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  font-weight: bold; 
  border-radius: 20px;
  color: #3ea5b8;
}

.request_wrapper .request_title{
  padding-left: 25px;
}

.status_tag {
  background-color: #d9f7e0;
  color: #1b8c49;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  border: 1px solid rgb(5, 243, 56);
}

.request_content_box {
  padding: 1rem;  
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.request_wrapper .description pre {
  font-size: 17px !important;
  font-family: inherit;
}

.request_wrapper .created_at {
  text-align: right;
  font-size: 0.8rem;
  color: #555;
  margin-top: 1rem;
}

.request_btn_group {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.request_btn_group .btn {
  padding: 0.7rem 1.2rem;
  background: #ddd;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

 .request_btn_group .btn.delete {
  background-color: #fdd;
  color: #d00;
}

.request_wrapper .small_box{
  margin: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.request_wrapper .attached_image_area{
margin: 40px;
}
.request_wrapper .xsmall_box{
  text-align: left;
  margin-left: 40px;
}

.request_wrapper .hashtags{
  color: rgb(5, 141, 118);
  margin: 10px 0px 20px 0px; 
}

.request_wrapper .info{
  margin-top: 30px;
  color: #7c7b7b;
}

/* Detail 페이지, 이미지 lightbox  */
.zoomable_image {
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 12px;
}

.zoomable_image:hover {
  transform: scale(1.02);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px #fff;
}

/* 의뢰서 수정 페이지 */
.request_update_title::before{
  content:"🖋";
  margin-right: 0.5rem;gi
}