/* 등록 페이지 **************************/
.request_container .request_title{
  letter-spacing: 4px;
}

/* detail 페이지***********************/
.request_wrapper {
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 20px;  
  background-color: #f6f8f8;
}

.request_header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  font-weight: bold; 
  border-radius: 20px;
  color: #3ea5b8;
}

.request_wrapper .request_title{
  padding-left: 25px;
}

.status_tag {
  background-color: #d9f7e0;
  color: #1b8c49;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  border: 1px solid rgb(5, 243, 56);
}

.request_content_box {
  padding: 1rem;  
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.request_wrapper .description pre {
  font-size: 17px !important;
  font-family: inherit;
}

.request_wrapper .created_at {
  text-align: right;
  font-size: 0.8rem;
  color: #555;
  margin-top: 1rem;
}

.request_button_group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 0.5rem;
  margin-right: 0.7rem;
}

.request_button_group div {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

body.dark .request_button_group .btn {
  background-color: #524b4b;
  color: #f8f8f8;
  /* border: 1px solid #575757; */
}
body.dark .request_button_group .btn:hover {background-color: #525252;}
.request_button_group .btn {
  padding: 0.7rem 1.2rem !important;
  background: #eeeeee;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  height: 48px;
}
.request_button_group .btn:hover{
   background-color: #dedede;
   opacity: 0.85;
   transition: all 0.3s ease;
}

 .request_button_group .btn.delete {
   background-color: #fdd !important;
   color: #a60000 !important;
  }
  .request_button_group .btn.delete:hover {
    background-color: #ffa9a9 !important;
  }

.request_wrapper .small_box{
  margin: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.request_wrapper .attached_image_area{
margin: 40px;
}
.request_wrapper .xsmall_box{
  text-align: left;
  margin-left: 40px;
}

.request_wrapper .hashtags{
  color: rgb(5, 141, 118);
  margin: 10px 0px 20px 0px; 
}

.request_wrapper .info{
  margin-top: 30px;
  color: #7c7b7b;
}

/* Detail 페이지, 이미지 lightbox  */
.zoomable_image {
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 12px;
}

.zoomable_image:hover {
  transform: scale(1.02);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px #fff;
}

.request_container .find_addr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  /* gap: 0.5rem; */
}
.request_container .find_addr input{width: calc(100% - 120px);}
body.dark .request_container .find_addr button{background-color: #3a3a3a;color: #c3c3c3; border: 1px solid #191919;padding: 18px !important;}
body.dark .request_container .find_addr button:hover{background-color: rgb(49, 49, 49);}
.request_container .find_addr button{
  background-color: #e9e9e9;
  color: #6a6a6a;
  height: 34px;
  border: 1px solid #d9d9d9;
  border-radius: 10px !important;
}
.request_container .find_addr button:hover{
  background-color: #d9d9d9;
  border: 1px solid #bdbdbd;
  color: #333;
}

/* 의뢰서 수정 페이지 */
.request_update_title::before{
  content:"🖋";
  margin-right: 0.5rem;
}

/* 의뢰서 목록(list) 페이지 **************************/