<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="setContent(content)">
    <!-- head -->
    <head>
      <meta charset="UTF-8" />
      <link rel="icon" type="favicon" href="/frontend/public/icon.svg" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>SMaSh | Sports rentalMatching Service</title>
      <!-- script -->
      <script src="https://kit.fontawesome.com/e7c9242ec2.js" crossorigin="anonymous"></script>
    </head>

    <!-- body -->
    <body>
        <div class="root">
          <div class="container">
            <th:block th:replace = "${content}"></th:block>
          </div>
          <nav class="navigation">
            <ul class="nav-list">
              <li><a th:href="${@environment.getProperty('react.server.url')} + '/alarm'"><i className="fa-solid fa-bell"></i>알림</a></li>
              <li class="active"><a th:href="${@environment.getProperty('react.server.url')} + '/'"><i className="fa-solid fa-bell"></i>홈</a></li>
              <li><a th:href="${@environment.getProperty('react.server.url')} + '/profile'"><i className="fa-solid fa-bell"></i>프로필</a></li>
            </ul>
          </nav>
        </div>
    </body>

  </th:block>
</html>
