<th:block th:replace="~{/layout/basic :: setContent(~{/layout/topbar :: title(title=${title})}, ~{this::content})}">
  <th:block th:fragment="content">

    <div class="requestlist_container">      
        <table class="table">

        <div th:if="${#lists.isEmpty(result)}">작성한 의뢰서가 없습니다</div>
        <thead class="header" th:if="${!#lists.isEmpty(result)}">
          <tr>
            <th class="h5 font-weight-bold">의뢰서</th>
            <th class="h5 font-weight-bold">사용 예정 날짜</th>
            <!-- <th class="h5 font-weight-bold">상태</th> -->
          </tr>
        </thead>             
          <tbody >                                
            <tr th:each="request : ${result}" th:if="${request.writerEmail == currentUser.emailId}">
              <td>
                <a th:href="@{/smash/request/detail/{idx}(idx = ${request.idx})}"><span class="title">[[${request.title}]]</span></a>
                <span class="selected" th:if="${request.isDone == 1}">낙찰 완료</span>
                <span class="unselected" th:if="${request.isDone == 0}"> 미낙찰</span>
                <span class="rent" th:if="${request.isGet == 1}"> 대여완료</span>
              </td>
              <td>[[${#temporals.format(request.useDate, 'yyyy년 MM월 dd일 HH:mm')}]]</td>
              <!-- <td>
                <span class="selected" th:if="${request.isDone == 1}">낙찰 완료</span>
                <span class="unselected" th:if="${request.isDone == 0}"> 미낙찰</span>
                <span class="rent" th:if="${request.isGet == 1}"> 대여완료</span>
              </td> -->
            </tr>    
         </tbody>
        
        </table>    
    </div>
  
  </th:block>
</th:block>