<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/review.css">
</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
<th:block th:fragment="content">
    <div class="review_container">
        <h2>리뷰 등록</h2>
    <form th:action="@{/smash/review/register}" th:object="${reviewDTO}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="estimateIdx" th:value="${estimateIdx}" />

        <label for="memberId">작성자 ID:</label>
        <input type="text" name="memberId" required><br><br>

        <label for="star">별점 (1~5):</label>
        <input type="number" name="star" min="1" max="5" required><br><br>

        <label for="comment">내용:</label><br>
        <textarea name="comment" rows="5" cols="50" required></textarea><br><br>

        <label for="images">이미지 선택:</label>
        <input type="file" name="imageFiles" multiple /><br><br>

        <button type="submit">등록</button>
    </form>

</th:block>
</th:block>
