<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/review.css" />
</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
<th:block th:fragment="content">
    <div class="review_container">
    <h2>리뷰 목록</h2>
    <a th:href="@{/smash/review/register/{estimateIdx}(estimateIdx=${estimateIdx})}">
        <button type="button">리뷰 쓰기</button>
    </a>
    <div th:if="${#lists.isEmpty(reviewList)}">
        <p>아직 등록된 리뷰가 없습니다.</p>
    </div>

    <div th:each="review : ${reviewList}" class="review-card">
        <strong th:text="${review.nickname}">닉네임</strong> -
        <span th:text="${review.star} + '점'">별점</span><br/>
        <p th:text="${review.comment}">리뷰 내용</p>
        <!-- 이미지가 있을 때만 출력 -->`
        <div th:if="${not #lists.isEmpty(review.images)}" class="review-images">
            <img th:each="img : ${review.images}"
                th:src="@{${img.path}}"
                alt="리뷰 이미지"
                style="max-width: 150px; max-height: 150px; margin-right: 10px;" />
        </div>

        <small th:text="${review.createdAt}">작성일</small>
    </div>
    </div>
</th:block>
</th:block>