@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-weight: normal;
  font-family: "Asta Sans", sans-serif;
}

::selection {background-color: #A8F1FF;color: #1498b3;}
body.dark ::selection {background-color: #FFFA8D; color: #e98f00;}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 80px auto; /* 상단 바와 네비게이션 바를 고려하여 여백 추가 */
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* theme-dark */
body.dark {background-color: #242424;color: white;}
body.dark button, body.dark [class*="btn"] {background-color: #FFFA8D; color: black;}
body.dark button:hover, body.dark [class*="btn"]:hover {background-color: rgb(252, 215, 6);}
body.dark .top-bar {background: linear-gradient(to bottom, rgba(30, 30, 30, 0.7) 60%, rgba(30, 30, 30, 0));}
body.dark button:disabled, body.dark [class*="btn"]:disabled {background-color: #ccc;color: #666;cursor: default;}
body.dark button:disabled:hover, body.dark [class*="btn"]:disabled:hover {background-color: #ccc;color: #666;cursor: default;}
body.dark input[type="text"]:focus,body.dark input[type="password"]:focus,body.dark input[type="email"]:focus,body.dark input[type="number"]:focus {outline: none;border: 2px solid #FFFA8D;box-shadow: inset 0 1px 3px #FFFA8D;}
body.dark textarea:focus {outline: none;border: 2px solid #FFFA8D;box-shadow: inset 0 1px 3px #FFFA8D;}


/* 공용 */
.hide {
  font-size: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}
button, [class*="btn"] {
  height: 40px;
  cursor: pointer;
  background-color: #4ED7F1;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background-color: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
}
button:hover, [class*="btn"]:hover {
  background-color: #3bb8d4;
}
button:disabled, [class*="btn"]:disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
}
button:disabled:hover, [class*="btn"]:disabled:hover {
  background-color: #ccc;
  color: #666;
  cursor: default;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  height: 40px;
  padding: 0.5rem;
  border-radius: 16px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus  {
  outline: none;
  border: 2px solid #4ED7F1;
  box-shadow: inset 0 1px 3px #4ED7F1;
}
textarea {
  width: 100%; 
  height: 100px;
  border: 1px solid; 
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;}
textarea:focus {
  outline: none;
  border: 2px solid #4ED7F1;
  box-shadow: inset 0 1px 3px #4ED7F1;
}
textarea::-webkit-scrollbar {opacity: 0;}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading i {
  font-size: 2rem;
  color: rgb(236, 236, 236);
  animation: loading-spin 2s linear infinite;
}
@keyframes loading-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}